extends layout.pug

block content

  h1 Título de la página
  h2 Subtítulo
  div
    p Contenido del párrafo

  div 
    a(href="http://www.google.com", class="", id="") Google
    br
    a#enlaceYoutube.enlace.principal(href="http://www.youtube.com") Youtube


  div 
    p=name
    p Me llamo #{name}

  div 
    if available 
      p Está disponible 
    else 
      p No está disponible

  div 
    ul
      - for(let i = 0; i < animales.length; i++)
        li= animales[i]

  div 
    // Comentario HTML
    //- Comentario PUG
    - animales = []
    ul 
      each animal in animales 
        li Animal: #{animal}
      else 
        li No hay animales
block footer 
  p Lista de animales
