extends layout

block content
  .row 
    .col-6 
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid accusamus veniam qui, magnam voluptate vero dolore soluta atque exercitationem dolores eum non fugit aperiam, iusto architecto repellendus. Sunt, dolores sed.
    .col-6
      p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut atque modi soluta laboriosam, culpa maxime! At aliquid voluptates laborum enim provident quam ratione rem ducimus sapiente repudiandae id, officia nisi.
  .row.justify-content-center 
    .col-6 
      .card(style="width: 18rem;")
        img.card-img-top(src="...")
        .card-body
          h5.card-title Card Title
          p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
          a.btn.btn-primary(href="#") Go Somewhere
  
